{% load static %}
{% load i18n %}


<footer>
    <div id="footer" class="container">
        <div class="row">
            <div class="col">
                <p>{% translate 'Made with ❤️ by' %} <a href="{{ user_data.website }}" target="_blank">{{ user_data.name }}</a></p>
            </div>
            <div class="col footer-links">
                <ul>
                    {% if user_data.github %}
                    <li>
                        <a href="{{ user_data.github }}" target="_blank" alt="GitHub">{{ github_icon|safe }}</a>
                    </li>
                    {% endif %}
                    {% if user_data.linkedin %}
                    <li>
                        <a href="{{ user_data.linkedin }}" target="_blank" alt="LinkedIn">{{ linkedin_icon|safe }}</a>
                    </li>
                    {% endif %}
                    {% if user_data.twitter %}
                    <li>
                        <a href="{{ user_data.twitter }}" target="_blank" alt="Twitter">{{ twitter_icon|safe }}</a>
                    </li>
                    {% endif %}
                    {% if user_data.instagram %}
                    <li>
                        <a href="{{ user_data.instagram }}" target="_blank" alt="Instagram">{{ instagram_icon|safe }}</a>
                    </li>
                    {% endif %}
                    {% if user_data.youtube %}
                    <li>
                        <a href="{{ user_data.youtube }}" target="_blank" alt="YouTube">{{ youtube_icon|safe }}</a>
                    </li>
                    {% endif %}
                    {% if user_data.dribbble %}
                    <li>
                        <a href="{{ user_data.dribbble }}" target="_blank" alt="Dribbble">{{ dribbble_icon|safe }}</a>
                    </li>
                    {% endif %}
                    {% if user_data.behance %}
                    <li>
                        <a href="{{ user_data.behance }}" target="_blank" alt="Behance">{{ behance_icon|safe }}</a>
                    </li>
                    {% endif %}
                    {% if user_data.twitch %}
                    <li>
                        <a href="{{ user_data.twitch }}" target="_blank" alt="Twitch">{{ twitch_icon|safe }}</a>
                    </li>
                    {% endif %}
                    {% if user_data.show_email %}
                    <li>
                        <a href="mailto:{{ user_data.email }}" target="_blank" alt="{% translate 'Contact me' %}">{{ email_icon|safe }}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</footer>