{% extends 'home/base.html' %}

{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block title %}
{{ user_data.name }} - {{ user_data.title }}
{% endblock %}

{% block content %}
<main>
    <section id="hero" class="container">
        <div class="row w-100 flex-wrap-reverse">
            <div class="col">
                <h1 id="name-header">{{ user_data.name }}</h1>
                <h2 id="job-title">{{ user_data.title }}</h2>
                {% if user_data.open_to_work %}
                <div class="badge">{% translate 'Open to work' %}</div>
                {% endif %}
                {% if user_data.address %}
                <p id="address">{{ address_icon|safe }} {{ user_data.address }}</p>
                {% endif %}
                <p id="bio">{{ user_data.bio|linebreaksbr }}</p>
            </div>
            <div id="avatar-box" class="col">
                {% if user_data.profile_picture %}
                <img src="{{ user_data.profile_picture.url }}" alt="avatar">
                {% else %}
                <img src="{% static 'images/blank-avatar.jpg' %}" alt="avatar">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if user_data.show_email %}
                <a href="mailto:{{ user_data.email }}" target="_blank" class="btn btn-email" alt="{% translate 'Contact me' %}">{{ email_icon|safe }} {% translate 'Contact me' %}</a>
                {% endif %}
                {% if user_data.github %}
                <a href="{{ user_data.github }}" target="_blank" class="btn" alt="GitHub">{{ github_icon|safe }}</a>
                {% endif %}
                {% if user_data.linkedin %}
                <a href="{{ user_data.linkedin }}" target="_blank" class="btn" alt="LinkedIn">{{ linkedin_icon|safe }}</a>
                {% endif %}
                {% if user_data.cv %}
                <a href="{{ user_data.cv.url }}" target="_blank" class="btn" alt="CV">{{ cv_icon|safe }}</a>
                {% endif %}
            </div>
        </div>
    </section>
    <section id="skills" class="container">
        <div class="row">
            {% for skill in user_data.skills.all %}
            <div class="col skill-content-box">
                {% svg skill.icon %}
            </div>
            {% endfor %}
        </div>
    </section>
    <section id="experience" class="container">
        <h2 class="section-title">{% translate 'Work experience' %}</h2>
        {% for experience in user_data.experience.all|dictsortreversed:"end_date" %}
        <div class="row hover-pop hidden">
            <div class="col section-content-box">
                <h3>{{ experience.position }} <span class="experience-company">{% translate 'at' %} {{ experience.company }}</span></h3>
                <h4>{{ experience.start_date|date:"F Y"|capfirst }} - {% if experience.end_date %}{{ experience.end_date|date:"F Y"|capfirst }}{% else %}{% translate 'Present' %}{% endif %}</h4>
                <p id="experience-description">{{ experience.description|linebreaksbr }}</p>
            </div>
        </div>
        {% endfor %}
    </section>
    <section id="projects" class="container">
        <h2 class="section-title">{% translate 'Projects' %}</h2>
        {% for project in user_data.projects.all|dictsortreversed:"date" %}
        <div class="row hover-pop hidden">
            <div class="col project-image-box">
                {% if project.image %}
                <img src="{{ project.image.url }}" alt="project image">
                {% else %}
                <img src="{% static 'images/blank-image.jpg' %}" alt="project image">
                {% endif %}
            </div>
            <div class="col section-content-box">
                <h3>{{ project.title }}</h3>
                <div>
                    {% for skill in project.skills.all %}
                    <span class="skill-badge">{% svg skill.icon %} {{ skill.name }}</span>
                    {% endfor %}
                </div>
                <p>{{ project.description }}</p>
                <footer>
                    {% if project.link %}
                    <a href="{{ project.link }}" target="_blank" class="btn btn-sm" alt="Preview Project">{{ link_icon|safe }} {% translate 'Preview' %}</a>
                    {% endif %}
                    {% if project.code %}
                    <a href="{{ project.code }}" target="_blank" class="btn btn-sm" alt="View code on GitHub">{{ github_icon|safe }} {% translate 'Code' %}</a>
                    {% endif %}
                </footer>
            </div>
        </div>
        {% endfor %}
    </section>
    <section id="education" class="container">
        <h2 class="section-title">{% translate 'Education' %}</h2>
        {% for education in user_data.studies.all|dictsortreversed:"date" %}
        <div class="row hover-pop hidden">
            <div class="col education-icon-box">
                <span class="education-icon">
                    {% if education.icon %}
                        {% svg education.icon %}
                    {% else %}
                        {{ building_icon|safe }}
                    {% endif %}
                </span>
            </div>
            <div class="col section-content-box">
                <h3>{{ education.name }}</h3>
                <h4>{{ education.center }}</h4>
                <p>{{ education.date|date:"F Y"|capfirst }}</p>
                <footer>
                    {% if education.link %}
                    <a href="{{ education.link }}" target="_blank" class="btn btn-sm" alt="Go to certificate">{{ link_icon|safe }} {% translate 'View certificate' %}</a>
                    {% endif %}
                </footer>
            </div>
        </div>
        {% endfor %}
    </section>
</main>
{% if user.is_authenticated %}
<div id="theme-customizer">
    <span>&#9998;</span>
    <form action="{% url 'home:home' %}" method="post" id="theme-customizer-form">
        {% csrf_token %}
        <h2 class="text-center">{% translate 'Theme Customizer' %}</h2>
        <div>
            <label for="primary-color">{% translate 'Primary color' %}:</label>
            <input type="color" id="primary-color" name="primary-color" value="{{ theme_object.primary|default:'#f87934' }}">
        </div>
        <div>
            <label for="secondary-color">{% translate 'Secondary color' %}:</label>
            <input type="color" id="secondary-color" name="secondary-color" value="{{ theme_object.secondary|default:'#784bc2' }}">
        </div>
        <div>
            <label for="background-color">{% translate 'Background color (dark mode)' %}:</label>
            <input type="color" id="background-color" name="background-color" value="{{ theme_object.background|default:'#141820' }}">
        </div>
        <div>
            <label for="theme-name">{% translate 'Theme name' %}:</label>
            <input type="text" id="theme-name" name="theme-name" value="{{ theme_object.name|default:'' }}" placeholder="{% translate 'Theme name' %}" required>
        </div>
        <button type="submit">{% translate 'Save' %}</button>
    </form>
</div>
<script>
    const primaryColor = document.getElementById('primary-color');
    const secondaryColor = document.getElementById('secondary-color');
    const backgroundColor = document.getElementById('background-color');

    primaryColor.addEventListener('change', function() {
        const newPrimaryColor = primaryColor.value;
        document.documentElement.style.setProperty('--primary-color', newPrimaryColor);
    });

    secondaryColor.addEventListener('change', function() {
        const newSecondaryColor = secondaryColor.value;
        document.documentElement.style.setProperty('--secondary-color', newSecondaryColor);
    });

    backgroundColor.addEventListener('change', function() {
        const newBackgroundColor = backgroundColor.value;
        document.documentElement.style.setProperty('--bg-color', newBackgroundColor);
    });
</script>
{% endif %}
{% endblock %}