* {
  box-sizing: border-box;
}

:root {
  /* colors */
  --text-color: #ffffffdd;
  --bg-color: #141820;
  --primary-color: #f87934;
  --secondary-color: #784bc2;
  --bg-primary-color: hsl(from var(--primary-color) h s l / 20%);
  --bg-secondary-color: hsl(from var(--secondary-color) h s l / 20%);

  font-family: 'Nunito Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: radial-gradient(circle at 50% 0%, hsl(from var(--bg-color) h calc(s * .8) calc(l * 1.75)) 10%, var(--bg-color) 50%);
  margin: 0;
  min-height: 100vh;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: inherit;
}

a:hover {
  color: hsl(from var(--primary-color) h s calc(l + 10%));
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.1;
}

h3 {
  color: var(--primary-color)
}

li {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
}

.container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem .75rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem 1rem;
}

.col {
  align-items: center;
  justify-content: center;
  flex: 1;
}

.w-100 {
  width: 100% !important;
}

.text-center {
  text-align: center !important;
}

.btn {
  display: inline-block;
  justify-items: center;
  padding: .75rem;
  border: 1px solid var(--primary-color);
  border-radius: 999px;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: color .3s ease, background-color .3s ease;

  &:hover {
    color: var(--bg-color);
    background-color: var(--text-color);

    & > svg path {
      fill: var(--bg-color);
      color: var(--bg-color);
    }
  }

  & > svg {
    display: inline-block;
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;

    & path {
      fill: var(--text-color);
      color: var(--text-color);
      transition: fill .3s ease;
    }
  }
}

.btn-sm {
  padding: .5rem;

  & > svg {
    width: 1rem;
    height: 1rem;
  }
}

.btn-email {
  background-color: var(--bg-primary-color);
}

.badge {
  display: inline-block;
  padding: .5rem 1rem;
  border-radius: 999px;
  color: var(--text-color);
  font-weight: 700;
  background-image: linear-gradient(to right, hsl(from var(--secondary-color) h s l / 25%), hsl(from var(--primary-color) h s l / 25%));
}

.skill-content-box {

  & > svg {
    display: block;
    margin: 0 auto;
    width: 3rem;
    height: 3rem;

    & path {
      fill: var(--text-color);
      color: var(--text-color);
    }
  }
}

.skill-badge {
  display: inline-block;
  padding: .05rem .5rem;
  border-radius: 999px;
  font-size: .85rem;
  color: var(--text-color);
  background-color: var(--bg-secondary-color);

  & > svg {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;

    & path {
      fill: var(--text-color);
      color: var(--text-color);
    }
  }
}

.section-title {
  font-size: 2rem;
}

.section-content-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  & > h3 {
    margin-top: 0;
  }

  & > h4 {
    margin: 0;
  }

  & > p {
    flex: 1;
  }

  & > footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}

.experience-company {
  font-size: .85rem;
  color: var(--text-color);
}

.project-image-box {
  max-width: 355px;
  align-self: center;

  & > img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    border: 1px solid var(--text-color);
    border-radius: 12px;
  }
}

.education-icon-box {
  max-width: 80px;
  align-self: center;
}

.education-icon {
  display: inline-block;
  padding: 1rem 1.25rem;
  border-radius: 999px;
  font-size: .85rem;
  color: var(--text-color);
  background-color: var(--bg-primary-color);

  & > svg {
    display: inline-block;
    max-width: 2rem;
    max-height: 2rem;

    & path {
      fill: var(--text-color);
      color: var(--text-color);
    }
  }
}

.footer-links {

  & > ul {
    display: block;

    & > li {
      display: inline-block;
    }
  }

  & svg {
    width: 1.5rem;
    height: 1.5rem;

    & path {
      fill: var(--primary-color);
      color: var(--primary-color);
      transition: fill .3s ease;
    }

    &:hover path {
      fill: var(--text-color);
      color: var(--text-color);
    }
  }
}

.hover-pop {
  transition: all .3s ease;

  &:hover {
    background-color: hsl(from var(--bg-color) h s calc(l * 2) / 30%);
  }
}

.hidden {
  opacity: 0;
  transition: all .75s ease;
  transform: translateY(2rem);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

#gradient-bar {
  display: block;
  width: 100%;
  height: 15px;
  background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
}

#hero {
  display: grid;
  min-height: 80vh;
  place-content: center;

  & > .row {
    flex-wrap: wrap-reverse;
  }
}

#name-header {
  font-size: 4em;
  margin: .1rem 0 1.5rem 0;
  line-height: 0.8;
}

#job-title {
  font-size: 3.5em;
  margin: .1rem 0 1.5rem 0;
  line-height: 0.8;
  color: var(--primary-color);
}

#avatar-box {
  flex: 0 0 20%;

  & > img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border: 1px solid var(--text-color);
    border-radius: 999px;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

#address {
  font-weight: 700;

  & > svg {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;

    & path {
      fill: var(--text-color);
      color: var(--text-color);
    }
  }
}

#bio {
  font-size: 1.25rem;
}

#skills .row {
  flex-direction: row !important;
  gap: 1rem;

  & .col {
    flex: 1 !important;
  }
}

#experience-description {
  margin-bottom: 0;
}

#footer {
  padding-top: 5rem;

  & > .row {
    align-items: center;
  }
}

#theme-customizer {
  position: fixed;
  top: 30px;
  right: -200px;
  background-color: #00000033;
  backdrop-filter: blur(5px);
  height: auto;
  width: 250px;
  border-radius: 12px 0 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: all .3s ease;

  & > span {
    position: absolute;
    top: 45%;
    left: 0.4rem;
    font-size: 2.5rem;
    font-weight: 900;
    cursor: default;
  }

  &:hover, &:focus, &:focus-within {
    right: 0;
  }

  & a {
    color: #5f4848;
    text-decoration: none;
    font-size: 1.2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  & label {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  & input {
    display: block;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0 auto;
    border: 1 px solid #000000;
    border-radius: 12px;
    cursor: pointer;
  }

  & input[type="text"] {
    width: 100%;
    padding: .5rem;
    border: 1 px solid #000000;
    border-radius: 12px;
    font-size: 1rem;
    color: #000000;
    background-color: #ffffff;
    cursor: text;
  }

  & button {
    display: block;
    margin: 1rem auto;
    padding: .5rem 1rem;
    border: 0;
    border-radius: 999px;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #000000;
    transition: all .3s ease;

    &:hover {
      color: #ffffff;
      background-color: #666666;
      cursor: pointer;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --bg-color: #ffffff !important;
  }

  .hover-pop:hover {
    background-color: hsl(from var(--bg-color) h s calc(l / 2) / 30%);
  }
}

@media (width <= 600px) {
  ul {
    padding: 0;
  }

  #footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .col {
    flex: 0 0 100%;
  }

  #name-header {
    font-size: 2.5em;
  }

  #job-title {
    font-size: 2em;
  }

  #avatar-box {
    width: 100%;

    & > img {
      width: 150px;
      height: 150px;
    }
  }
}